.flag{background-image:url(../images/flags.png);background-repeat:no-repeat;display:inline-block;width:24px; position:relative;top:3px;height:16px;margin:0 3px 0 6px}.flag-ad{background-position:-8px -8px}.flag-ae{background-position:-48px -8px}.flag-af{background-position:-88px -8px}.flag-ag{background-position:-128px -8px}.flag-ai{background-position:-168px -8px}.flag-al{background-position:-208px -8px}.flag-am{background-position:-248px -8px}.flag-an{background-position:-288px -8px}.flag-ao{background-position:-328px -8px}.flag-aq{background-position:-368px -8px}.flag-ar{background-position:-408px -8px}.flag-as{background-position:-448px -8px}.flag-at{background-position:-488px -8px}.flag-au{background-position:-8px -40px}.flag-aw{background-position:-48px -40px}.flag-ax{background-position:-88px -40px}.flag-az{background-position:-128px -40px}.flag-ba{background-position:-168px -40px}.flag-bb{background-position:-208px -40px}.flag-bd{background-position:-248px -40px}.flag-be{background-position:-288px -40px}.flag-bf{background-position:-328px -40px}.flag-bg{background-position:-368px -40px}.flag-bh{background-position:-408px -40px}.flag-bi{background-position:-448px -40px}.flag-bj{background-position:-488px -40px}.flag-bl{background-position:-8px -72px}.flag-bm{background-position:-48px -72px}.flag-bn{background-position:-88px -72px}.flag-bo{background-position:-128px -72px}.flag-br{background-position:-168px -72px}.flag-bs{background-position:-208px -72px}.flag-bt{background-position:-248px -72px}.flag-bw{background-position:-288px -72px}.flag-by{background-position:-328px -72px}.flag-bz{background-position:-368px -72px}.flag-ca{background-position:-408px -72px}.flag-cc{background-position:-448px -72px}.flag-cd{background-position:-488px -72px}.flag-cf{background-position:-8px -104px}.flag-cg{background-position:-48px -104px}.flag-ch{background-position:-88px -104px}.flag-ci{background-position:-128px -104px}.flag-ck{background-position:-168px -104px}.flag-cl{background-position:-208px -104px}.flag-cm{background-position:-248px -104px}.flag-cn{background-position:-288px -104px}.flag-co{background-position:-328px -104px}.flag-cr{background-position:-368px -104px}.flag-cu{background-position:-408px -104px}.flag-cv{background-position:-448px -104px}.flag-cw{background-position:-488px -104px}.flag-cx{background-position:-8px -136px}.flag-cy{background-position:-48px -136px}.flag-cz{background-position:-88px -136px}.flag-de{background-position:-128px -136px}.flag-dj{background-position:-168px -136px}.flag-dk{background-position:-208px -136px}.flag-dm{background-position:-248px -136px}.flag-do{background-position:-288px -136px}.flag-dz{background-position:-328px -136px}.flag-ec{background-position:-368px -136px}.flag-ee{background-position:-408px -136px}.flag-eg{background-position:-448px -136px}.flag-eh{background-position:-488px -136px}.flag-er{background-position:-8px -168px}.flag-es{background-position:-48px -168px}.flag-et{background-position:-88px -168px}.flag-eu{background-position:-128px -168px}.flag-fi{background-position:-168px -168px}.flag-fj{background-position:-208px -168px}.flag-fk{background-position:-248px -168px}.flag-fm{background-position:-288px -168px}.flag-fo{background-position:-328px -168px}.flag-fr{background-position:-368px -168px}.flag-ga{background-position:-408px -168px}.flag-gb{background-position:-448px -168px}.flag-gd{background-position:-488px -168px}.flag-ge{background-position:-8px -200px}.flag-gg{background-position:-48px -200px}.flag-gh{background-position:-88px -200px}.flag-gi{background-position:-128px -200px}.flag-gl{background-position:-168px -200px}.flag-gm{background-position:-208px -200px}.flag-gn{background-position:-248px -200px}.flag-gq{background-position:-288px -200px}.flag-gr{background-position:-328px -200px}.flag-gs{background-position:-368px -200px}.flag-gt{background-position:-408px -200px}.flag-gu{background-position:-448px -200px}.flag-gw{background-position:-488px -200px}.flag-gy{background-position:-8px -232px}.flag-hk{background-position:-48px -232px}.flag-hn{background-position:-88px -232px}.flag-hr{background-position:-128px -232px}.flag-ht{background-position:-168px -232px}.flag-hu{background-position:-208px -232px}.flag-ic{background-position:-248px -232px}.flag-id{background-position:-288px -232px}.flag-ie{background-position:-328px -232px}.flag-il{background-position:-368px -232px}.flag-im{background-position:-408px -232px}.flag-in{background-position:-448px -232px}.flag-iq{background-position:-488px -232px}.flag-ir{background-position:-8px -264px}.flag-is{background-position:-48px -264px}.flag-it{background-position:-88px -264px}.flag-je{background-position:-128px -264px}.flag-jm{background-position:-168px -264px}.flag-jo{background-position:-208px -264px}.flag-jp{background-position:-248px -264px}.flag-ke{background-position:-288px -264px}.flag-kg{background-position:-328px -264px}.flag-kh{background-position:-368px -264px}.flag-ki{background-position:-408px -264px}.flag-km{background-position:-448px -264px}.flag-kn{background-position:-488px -264px}.flag-kp{background-position:-8px -296px}.flag-kr{background-position:-48px -296px}.flag-kw{background-position:-88px -296px}.flag-ky{background-position:-128px -296px}.flag-kz{background-position:-168px -296px}.flag-la{background-position:-208px -296px}.flag-lb{background-position:-248px -296px}.flag-lc{background-position:-288px -296px}.flag-li{background-position:-328px -296px}.flag-lk{background-position:-368px -296px}.flag-lr{background-position:-408px -296px}.flag-ls{background-position:-448px -296px}.flag-lt{background-position:-488px -296px}.flag-lu{background-position:-8px -328px}.flag-lv{background-position:-48px -328px}.flag-ly{background-position:-88px -328px}.flag-ma{background-position:-128px -328px}.flag-mc{background-position:-168px -328px}.flag-md{background-position:-208px -328px}.flag-me{background-position:-248px -328px}.flag-mf{background-position:-288px -328px}.flag-mg{background-position:-328px -328px}.flag-mh{background-position:-368px -328px}.flag-mk{background-position:-408px -328px}.flag-ml{background-position:-448px -328px}.flag-mm{background-position:-488px -328px}.flag-mn{background-position:-8px -360px}.flag-mo{background-position:-48px -360px}.flag-mp{background-position:-88px -360px}.flag-mq{background-position:-128px -360px}.flag-mr{background-position:-168px -360px}.flag-ms{background-position:-208px -360px}.flag-mt{background-position:-248px -360px}.flag-mu{background-position:-288px -360px}.flag-mv{background-position:-328px -360px}.flag-mw{background-position:-368px -360px}.flag-mx{background-position:-408px -360px}.flag-my{background-position:-448px -360px}.flag-mz{background-position:-488px -360px}.flag-na{background-position:-8px -392px}.flag-nc{background-position:-48px -392px}.flag-ne{background-position:-88px -392px}.flag-nf{background-position:-128px -392px}.flag-ng{background-position:-168px -392px}.flag-ni{background-position:-208px -392px}.flag-nl{background-position:-248px -392px}.flag-no{background-position:-288px -392px}.flag-np{background-position:-328px -392px}.flag-nr{background-position:-368px -392px}.flag-nu{background-position:-408px -392px}.flag-nz{background-position:-448px -392px}.flag-om{background-position:-488px -392px}.flag-pa{background-position:-8px -424px}.flag-pe{background-position:-48px -424px}.flag-pf{background-position:-88px -424px}.flag-pg{background-position:-128px -424px}.flag-ph{background-position:-168px -424px}.flag-pk{background-position:-208px -424px}.flag-pl{background-position:-248px -424px}.flag-pn{background-position:-288px -424px}.flag-pr{background-position:-328px -424px}.flag-ps{background-position:-368px -424px}.flag-pt{background-position:-408px -424px}.flag-pw{background-position:-448px -424px}.flag-py{background-position:-488px -424px}.flag-qa{background-position:-8px -456px}.flag-ro{background-position:-48px -456px}.flag-rs{background-position:-88px -456px}.flag-ru{background-position:-128px -456px}.flag-rw{background-position:-168px -456px}.flag-sa{background-position:-208px -456px}.flag-sb{background-position:-248px -456px}.flag-sc{background-position:-288px -456px}.flag-sd{background-position:-328px -456px}.flag-se{background-position:-368px -456px}.flag-sg{background-position:-408px -456px}.flag-sh{background-position:-448px -456px}.flag-si{background-position:-488px -456px}.flag-sk{background-position:-8px -488px}.flag-sl{background-position:-48px -488px}.flag-sm{background-position:-88px -488px}.flag-sn{background-position:-128px -488px}.flag-so{background-position:-168px -488px}.flag-sr{background-position:-208px -488px}.flag-ss{background-position:-248px -488px}.flag-st{background-position:-288px -488px}.flag-sv{background-position:-328px -488px}.flag-sy{background-position:-368px -488px}.flag-sz{background-position:-408px -488px}.flag-tc{background-position:-448px -488px}.flag-td{background-position:-488px -488px}.flag-tf{background-position:-8px -520px}.flag-tg{background-position:-48px -520px}.flag-th{background-position:-88px -520px}.flag-tj{background-position:-128px -520px}.flag-tk{background-position:-168px -520px}.flag-tl{background-position:-208px -520px}.flag-tm{background-position:-248px -520px}.flag-tn{background-position:-288px -520px}.flag-to{background-position:-328px -520px}.flag-tr{background-position:-368px -520px}.flag-tt{background-position:-408px -520px}.flag-tv{background-position:-448px -520px}.flag-tw{background-position:-488px -520px}.flag-tz{background-position:-528px -8px}.flag-ua{background-position:-528px -40px}.flag-ug{background-position:-528px -72px}.flag-us{background-position:-528px -104px}.flag-uy{background-position:-528px -136px}.flag-uz{background-position:-528px -168px}.flag-vc{background-position:-528px -200px}.flag-ve{background-position:-528px -232px}.flag-vg{background-position:-528px -264px}.flag-vi{background-position:-528px -296px}.flag-vn{background-position:-528px -328px}.flag-vu{background-position:-528px -360px}.flag-wf{background-position:-528px -392px}.flag-ws{background-position:-528px -424px}.flag-ye{background-position:-528px -456px}.flag-yt{background-position:-528px -488px}.flag-za{background-position:-528px -520px}.flag-zm{background-position:-8px -552px}.flag-zw{background-position:-48px -552px}.flag-catalog{background-position:-90px -554px}.flag-va{background-position:-134px -554px}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(http://www.pedroshoes.com/skin/frontend/pedro/default/css/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}


/* Overlay */
#ampromo-items-add
{
    border: 1px solid #ededed;
    padding: 7px;
    text-align: center;
    margin-bottom: 12px;
}

#ampromo-items-add a
{
    text-decoration: none;
    border-bottom: 1px dashed;
}

.amscheckout #ampromo-items-add
{
    margin: 7px 10px;
}

#ampromo-overlay
{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    z-index: 10000;
    text-align: center;
    direction: ltr;
    overflow: scroll;
}

#ampromo-overlay .close
{
    position: absolute;
    top: 7px;
    right: 7px;
    background: url(http://www.pedroshoes.com/skin/frontend/pedro/default/images/amasty/ampromo/close_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    z-index: 1;
    margin: 0;
    padding: 0;
    font-size: 0;
    display: block;

    opacity: .8;
}

#ampromo-overlay .close:hover
{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.ampromo-item .giftcard-send-form{
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 820px) and (min-width: 420px) {
    body #ampromo-items.amcarousel {
        width: 400px;
    }
    body .amcarousel #ampromo-carousel-wrapper {
        width: 250px;
    }
}

@media only screen and (max-width: 420px) {
    body #ampromo-items.amcarousel {
        width: 100%;
    }

    body .amcarousel #ampromo-carousel-wrapper {
        width: 250px;
    }

    body .ampromo-carousel-control.prev
    {
        left: 0px;
    }

    body .ampromo-carousel-control.next
    {
        right: 0px;
    }

    body .ampromo-carousel-control {
        z-index: 10001;
    }
}

@media only screen and (max-width: 340px) {
    body #ampromo-items .ampromo-item {
        border: none;
    }
}

@media only screen and (max-height: 500px) {
    body #ampromo-items.amcarousel {
        top: 0 !important;
        height: 100%;
    }

    body #ampromo-items {
        padding-top: 0;
    }

    body #ampromo-items>h4 {
        display: none;
    }
}

/* Items */

#ampromo-items
{
    border: 1px solid #ededed;
    background-color: white;
    position: relative;
    margin: 0 auto;
    padding: 24px;
    display: inline-block;
    box-sizing: border-box;
}

#ampromo-items.amcarousel
{
    display: block;
    width: 685px;
}


#ampromo-items .ampromo-item
{
    box-sizing: border-box;

    margin-bottom: 7px;
    padding: 20px;
    width: 250px;

    border: 1px solid #ededed;
    position: relative;
    margin-right: 12px;
}

#ampromo-items .ampromo-item-options
{
    margin-bottom: 12px;
    text-align: left;
}

#ampromo-items .ampromo-item-image
{
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 160px
}

/* Carousel */

.amcarousel #ampromo-carousel-wrapper
{
    width: 520px;
}

#ampromo-carousel-wrapper
{
    overflow: hidden;
    margin: 0 auto;
}

.amcarousel #ampromo-carousel-content
{
    width: 4500px;
    height: 1px;
}

#ampromo-carousel-content .ampromo-slide
{
    float: left;
}

.amcarousel .ampromo-carousel-control
{
    display: block;
}

.ampromo-carousel-control
{
    position: absolute;
    top: 260px;
    background: url(http://www.pedroshoes.com/skin/frontend/pedro/default/images/amasty/ampromo/buttons_next_prev.png) no-repeat;
    width: 48px;
    height: 45px;
    font-size: 0;
    display: none;
}

.ampromo-carousel-control.carousel-disabled.prev
{
    background-position: 0 0 !important;
}

.ampromo-carousel-control.amcarousel-disabled.next
{
    background-position: -46px 0 !important;
}

.ampromo-carousel-control.prev
{
    background-position: 0 -45px;
    left: 20px;
}

.ampromo-carousel-control.next
{
    background-position: -46px -45px;
    right: 20px;
}

.ampromo-carousel-control.prev:hover
{
    background-position: 0 -91px;
}

.ampromo-carousel-control.next:hover
{
    background-position: -46px -91px;
}

.ampromo-item .qty-holder
{
    display: none;
}

.ampromo-item-options select,
.ampromo-item-options input
{
    max-width: 210px;
}

.ampromo-notification
{
    padding: 7px;
    text-align: center;
    margin-bottom: 12px;

    border: 1px solid #f16048;
    color: #df280a;
    background: #faebe7;
}

.ampromo_items_form h4 {
    line-height: 50px;
}

.ampromo_items_form h4 a {
    display: inline-block;
    vertical-align: middle;
    line-height: 14px;
}

.ampromo-label{
    float: right; 
    position: absolute; 
    z-index: 500;
}

.ampromo-gift .product-image{
    float: left;
}

.ampromo-gift li{
    margin: 10px 10px;
    float: left;
}
.ampromo-tooltip {
   padding:2px 5px;
   background:#FEC;
   border:1px solid #FAA819;
   color:#1F5070;
   text-align:left;
   width:300px;
   position:absolute;
   z-index: 10001;
}

.ampromo-product-name{
    font-weight: bold;
}

.ampromo-short-description{
    
}

.ampromo-img img{
    /*width: 100%;*/
}
.awac-button-label-container {
    text-align: center;
    margin-top: 14px;

}

.awac-button-label {
    cursor: pointer;
    padding: 7px 20px;
    background: #fff;
    border: 1px solid #000;
    display: inline-block;
    text-transform: uppercase;
}

.awac-button-label span {
    font-size: 14px;
}

.awac-loader-label {
    text-align: center;
}

.awac-loader-label span {
    background: url('http://www.pedroshoes.com/skin/frontend/pedro/default/aw_ajaxcatalog/images/ajax-loader.gif') no-repeat scroll 0 0 transparent;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-indent: -999em;
}

/* 'Back to Top' button */
.toolbar-bottom .back-top {
    position: fixed !important;
    right: 30px;
    bottom: 40px;
    left: auto !important;
    z-index: 999;
    visibility: hidden;
    width: 60px;
    height: 60px;
    border: 1px solid #e1e1e1;
    background: #f2f2f2 url('http://www.pedroshoes.com/skin/frontend/pedro/default/aw_ajaxcatalog/images/back2top.png') no-repeat 50% 50%;
    text-indent: -999em;
    opacity: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.back-top:hover {
    background-position: 50% 44%;
}

.back-top.visible {
    visibility: visible;
    opacity: 1;
}

.col1-layout .toolbar-bottom {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/*override*/
.toolbar .pager {
    display: none;
}


div.newrow{
max-width: 1200px;
width:100%;
margin: 0 auto;
}

div.row3item1{
float: left;
width: 32.6042%;
padding-bottom:15px;
}
div.row3item2{
float: left;
width: 1.09375%;
padding-bottom:15px;
}
div.row3item3{
float: left;
width: 32.6042%;
padding-bottom:15px;
}

div.row4item1{
float: left;
width: 54.6875%;
padding-bottom:15px;
}
div.row4item2{
float: left;
width: 1.0416%;
padding-bottom:15px;
}
div.row4item3{
float: left;
width: 21.61458333333333%;
padding-bottom:15px;
}
div.row4item4{
float: left;
width: 21.61458333333333%;
padding-bottom:15px;
}

div.item{
float: left;
width: 33.3333%;
}
div.item3{
float: left;
width: 33.3333%;
}