<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head><!--/head-->

<body>
<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +84(938-365-434)</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> thanhluan321988@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="/"><img src="/images/home/logo.jpg" alt="" style="width: 100px; height: 100px"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->
</header><!--/header-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/admin">List Product</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/admin/product/add">Add Product</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/admin/baners">List Baner</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="/admin/baner/add">Add Baner</a></h4>
                            </div>
                        </div>
                    </div><!--/category-products-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div th:if="${not #lists.isEmpty(products)}">
                    <h2>Product List</h2>
                    <table class="footable table table-striped table-bordered table-hover"
                           data-page-size="5">
                        <thead>
                        <tr>
                            <th>Product Id</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>View Relation</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeC" th:each="product : ${products}">
                                <td th:text="${product.productId}"><a href="/admin/product/${product.productId}">Id</a></td>
                                <td th:text="${product.productCode}">Product Id</td>
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.memo}">descirption</td>
                                <td th:text="${product.price}">price</td>
                                <td th:text="${product.sized}"></td>
                                <td th:text="${product.color}"></td>
                                <td><img th:src="${product.image}" style="width: 100px; height: 150px;"/></td>
                                <td th:if="${product.status == 1}">Show</td>
                                <td th:if="${product.status == 0}">Not Show</td>
                                <td th:if="${product.type == 1}">Men Wallet</td>
                                <td th:if="${product.type == 2}">Women Wallet</td>
                                <td th:if="${product.type == 3}">Passpost Wallet</td>
                                <td th:if="${product.type == 4}">Men Bag</td>
                                <td th:if="${product.type == 5}">Women Bag</td>
                                <td th:if="${product.type == 6}">Men Belt</td>
                                <td th:if="${product.type == 7}">Women Belt</td>
                                <td><a th:href="${ '/admin/relation/' + product.productId}">View Relation</a></td>
                                <td><a th:href="${'/admin/product/edit/' + product.productId}">Edit</a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="13">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer"><!--Footer-->

    <!--<div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <a href="/contact"><h2>Contact Us</h2></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <a href="/contact"><h2>About Cock</h2></a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Service</h2>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>About Cock</h2>
                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address" />
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Get the most recent updates from <br />our site and be updated your self.</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>-->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2017 Cock. All rights reserved.</p>
                <p class="pull-right">Designed by <span><a href="/">Cock</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->



<script>
    $(document).ready(function() {

        $('.footable').footable();
    });
</script>
</body>
</html>